:root{
	--lightgrey: rgb(243, 243, 243);
}

body{
	background-color: rgb(109, 126, 102);
	color: var(--lightgrey);
	font-size: 10px;
	text-align: center;
	font-family: 'merriweather', serif;
	overflow: hidden;
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

a{
	text-decoration: none;
	color: #ffffff;
}
a:hover{
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.footer {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}
.classInfo{
	padding-top: 10px;
	font-weight: 200;
}
